attrs==22.1.0
brotlipy 
certifi==2022.6.15
cffi 
charset-normalizer 
clip 
colorama 
cryptography 
cycler 
einops==0.4.1
ftfy==6.1.1
idna 
iopath==0.1.10
joblib 
kiwisolver 
lpips==0.1.4
matplotlib==3.7.1
mkl-fft
mkl-random
mkl-service
numpy 
opencv-python==4.6.0.66
pandas==1.4.3
Pillow==9.0.1
portalocker==2.5.1
protobuf==3.20.1
pycparser 
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil 
pytz 
regex==2022.6.2
requests 
scikit-learn 
scipy 
simplejson==3.17.6
six 
tabulate==0.9.0
tensorboardX==2.5.1
termcolor==1.1.0
threadpoolctl 
timm==0.4.9
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado 
tqdm 
typing_extensions 
urllib3 
wcwidth==0.2.5
